
body#index, #home {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-container, .landing-container {
    background-color: #ffffff;
    padding: 8%;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:20%;
    min-width: 300px;
    min-height: 300px;
}

.container{
    background-color: #ffffff;
    padding: 8%;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:20%;
    min-width: 300px;
}

input {
    
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    min-width: 150px;
}

button:hover {
    background-color: #525558;
}

#checkbox {
    width:8%;
}
 
h2{
  color:black;
}

.botonFecha {
   width: 20%;
  
}

#loginForm {
    width:100%;
}

/*Circilo de carga*/

#loader-container{
  background-color: #ffffff;
  z-index:10000;
  height:100%;
  width: 100%;
  position:fixed;
  -webkit-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position:absolute;
    top:0;
    Left:0;
    right:0;
    bottom:0;
    margin:auto;
      
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
  max-width: 280px;
  width: 30%;
  margin:40px;
  margin-left: 43%;
  }

header{
    
    white-space: nowrap;
    background-color: #000000;
    width: 100%;
    border-radius:25px; 
    top: -20px;
    left: 0px;
   
}

.nav {
  
  align-items: center;
  justify-content: center;
  
}

.fotoPrincipal{
  top:-15px;
  height: 70vh;
  position:relative;
  z-index: -1;
  display: block; 
  margin-left: 22%; 
  margin-right: auto;
  border-radius:10px;
 
}
.container-img {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:10px;
    
}
p{
  color: black;
}

.container-texto{
  display:block;
  text-align: center;
  max-width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.6;
  margin: auto;
  padding:5px;
  
}

h1{
  text-align: center;
}

nav{
  background-color: white;
  height: 100px;
  bottom: -80px;
  text-align: center;
  padding:5px;
  justify-content: center;
  
}

nav span{
    margin: 5%;
    color: Black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

nav span:hover{
    color: gray;
    user-select: none;
    cursor: pointer;
}

.container-video{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
    padding:20px;
    
}

footer {
   background-color: Black;
   height: 100x;
   padding:10px;
}

.boton{
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  
}

.redes{
  margin: 10px;
  cursor:pointer;
  height: 35px;
}

h3{
  color: White;
}
.container-redes{
  margin:5px;
  
}

/*Popup 10 seg*/

 .popup-fondo {
      display: none; 
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); 
      justify-content: center;
      align-items: center;
    }

   
    .popup-container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      text-align: center;
      position: relative;
    }

 
    .close-btn {
      position: absolute;
      padding:2px;
      right: 10px;
      font-size: 20px;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 20%;
      width: 30px;
      height: 30px;
    }

 /* Estilos para el fondo del popup cookies */

    .cookie-fondo{
      display: none; 
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
    }

   
    .cookie-container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      text-align: center;
      position: relative;
    }

    
    .accept-btn {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    /* Bloquear scroll */
    body.scroll-blocked {
      overflow: hidden; /* Desactiva el scroll */
    }

/* Productos*/


#productosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    max-width: 3000px;
    margin:30px;
}

.card {
    border: 1px solid #cccccc;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 20%; /* Si 100% es una card y ademas tengo en cuenta el gap */
    height: 50%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
}

.card img {
    width: 100%;
    height: 55%;
}

.card h3 {
    margin: 0 0;
    font-size: 14px;
}

.card p {
    margin: 2% 0;
    font-size: 14px;
}

.card .precio {
    font-weight: bold;
   
    font-size: 14px;
}

.card .stock {
    font-weight: bold;
    font-size: 14px;
}

/*Discografia*/

.container-canciones{
    display: flex;
    max-width: 320px;
    padding:5%;
    }

.canciones{
   margin:20px;
   float: left;
   width: 100%;
}


/*Letras*/

.letrascontainer{
      
      text-align: center;
     
      width: 40%;
      border-radius: 8px;
      margin:25px;
      padding:20px;   
      margin-left: 31%;
}

.container-buscador{
  text-align: center;
  margin-left: 33%;
  background-color: #ffffff;
}

.buscador{
  width: 50%;
  margin:25px;
  padding:20px;
  text-align: center;
  justify-content: center;
  
}

/*Modo Oscuro*/

@media (prefers-color-scheme: dark) {
  header { background-color: #727272; 
   } 
    footer{
     background-color:#727272;  
    }
   
   button, .accept-btn{
     background-color: #727272;
   }
  
      
 }

 /*Ajax*/

 #contentContainer {
  margin:50px; 
  padding: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s;
  
}

/* Transición suave para contenido cargado */
#contentContainer div {
  font-size: 18px;
  color: #beb5bb;
  margin: 0;
}

/* Alinear el contenedor y hacerlo responsivo */
#contentContainer {
  max-width: 800px;
  margin: 0 auto;
}

.botonD{
  display: inline-block;
  padding: .7rem 1.5rem;
  margin: .7rem;
  width:15%;
}

.contenedorVideos{
  margin-left: 10%;
 padding:2%;
 display: flex;
 justify-content: center;
 align-items: center; 
}

.nav-icon , .nav-toggle{
  display: none; /* Ocultamos los iconos en pantallas grandes */
}
.nav-menu {
  list-style-type: none;
  margin: 15px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.nav-menu li {
  display: inline-block;
}
@media (max-width: 1024px) {
  .nav-text {
      display: none; /* Ocultamos el texto */
  }
  .nav-icon {
      display: inline-block; /* Mostramos los iconos */
  }
}

/* Pantallas pequeñas (menos de 768px) */
@media (max-width: 480px) {
  .nav-menu {
      display: none; /* Ocultamos el menú */
  }

  .nav-toggle {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 24px;
      ;

  }

  .container-buscador{
    margin-left: 15%;
  }

  .nav-menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 43%;
      bottom: 180px;
      
  }

  .nav-menu li {
      text-align: center;
      margin: 5px 0;
  }
  .login-container, .landing-container {
    width:0;
    
    }

    .contenedorVideos{
      margin-left: 5%;
         }
.boton{
  padding: 0 0;
}

}



